
/*
Modified version of:

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0px;
	padding: 0;
	background: #000000 url(../img/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #63676A;
}

h1, h2, h3 {
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #649632;
}

h1 { font-size: 44px; }

h2 { font-size: 20px; }

h3 { }

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { color: #C2C8CC; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
	background: #000000;
}

/* Header */

#header-wrapper {
}

#header {
	width: 820px;
	height: 44px;
	margin: 0 auto;
	background: url(../img/img03.jpg) repeat-x left top;
}

/* Menu */

#menu {
	float: left;
	height: 44px;
}

#menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	height: 44px;
	display: block;
	float: left;
	padding: 12px 25px 0px 25px;
	background: url(../img/img04.jpg) no-repeat right 8px;
}

#menu a {
	display: block;
	float: left;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#menu a:hover { text-decoration: underline; }

#menu .current_page_item a,
#sidebar a.current_page_item {
	margin: 0px;
	color: #FFFFFF;
        font-weight: bold;
}

/* Search */

#search {
	float: right;
	height: 44px;
}

#search form {
	float: right;
	margin: 0;
	padding: 10px 20px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	padding: 0;
	height: 20px;
	font: 12px Arial, Helvetica, sans-serif;
	border: none;
}

#search-text {
	width: 135px;
	height: 14px;
	margin: 0px 6px 0px 0px;
	padding: 3px 0 0 5px;
	color: #658453;
}

#search-submit {
	padding: 0px;
	margin: 0px;
	height: 21px;
	margin-left: 4px;
	color: #39561D;
}


#search div#lang-box {
	float: right;
	margin: 0;
	padding: 10px 20px 0 0;
}


/* Page */

#page {
	width: 820px;
	margin: 0 auto;
	padding: 0px;
}

/** LOGO */

#logo {
	width: 900px;
	height: 300px;
	margin: 0 auto;
	background: url(../img/img05.jpg) no-repeat left top;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0px;
	line-height: normal;
}

#logo h1 {
	padding-left: 40px;
	padding-top: 90px; 
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}

#logo h1 a:hover { text-decoration: underline; }

#logo p {
	padding: 0px 0 0 42px;
	font: italic 13px Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
}

#logo p a {
	text-decoration: none;
	color: #FFFFFF;
}

#logo p a:hover { text-decoration: underline; }

/* Content */

#content {
	float: left;
	width: 520px;
}

dt {
  font-weight: bold;
  color: #fff;
}
dd {
  margin-bottom: 25px;
}

/* Post */

.post {
	margin-bottom: 25px;
}

.post .title {
	height: 30px;
	margin-bottom: 3px;
	border-bottom: 1px dashed #1E1E1E;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

.post .date {
	float: right;
	margin-top: -45px;
	padding-right: 20px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 18px;
	color: #C2C8CC;
}

.post .meta {
	margin: -30px  0 3px 25px;
	padding: 2px 30px 2px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #B6ACA2;
}

.post .meta a { color: #B6ACA2; }

.post .entry {
	padding: 20px 0px;
}

.post .links {
	margin: 0 250px 0 0;
	padding: 0 0 0 0px;
}

.post .links .comments {
}

.post .links .permalink {
	padding-left: 17px;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 250px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 20px 0px;
	background: url(../img/img07.jpg) repeat-x left top;
}

#sidebar li ul {
	line-height: 200%;
	background: none;
}

#sidebar li li {
	margin: 0;
	padding: 3px 20px;
	background: none;
}

#sidebar p {
	margin: 0;
	padding: 0 20px;
}

#sidebar h2 {
	height: 33px;
	margin: 0 0 20px 0px;
	padding: 15px 0px 0px 20px;
	background: url(../img/img06.jpg) repeat-x left top;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}


#sidebar p {
	line-height: 200%;
	padding-bottom: 20px;
}

#sidebar a {
}

/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-right: 1px solid #F5F2EF;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #F5F2EF;
	border-left: 1px solid #F5F2EF;
	background: #F5F2EF;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #F5F2EF;
	border-left: 1px solid #F5F2EF;
}

#calendar tfoot td {
	padding: 5px;
}

#calendar tfoot #next {
	text-align: right;
}

#calendar #today {
	background: #E7F1E1;
}

/* Footer */

#footer {
	width: 900px;
	margin: 0 auto;
	padding: 0;
	background: url(../img/img02.jpg) repeat-x left top;
	height: 61px;
}

#footer p {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	line-height: normal;
	color: #FFFFFF;
}

#footer a {
}

/* gallery styles */
div.gallery a img {
      padding: 4px;
      border: 1px solid white;
      margin: 4px;
      float: right;
}
div.gallery ul {
      list-style-type: square;
      text-align: left;
}
div.gallery-sep {
      clear: both;
}
