<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
               "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" lang="en">
<!--
This Design is based on:

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Reckoning
Description: A two-column, fixed-width design for 1024x768 screen resolutions.
Version    : 1.0
Released   : 20090629

-->
 <head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"  />
  <meta http-equiv="content-language" content="en" />
  <meta name="description" content="{{ page.description }}" lang="en" />
  <meta name="keywords" content="{{ page.keywords }}" lang="en" />
  <meta name="author" content="Henryk Paluch" />
  <title>{{ page.title }}</title>
  <link type="text/css" href="{{ site.url }}/css/style.css" rel="stylesheet"/>
  <link rel="icon" type="image/x-icon" href="{{ site.url }}/favicon.ico" />

</head>
<body>

<div id="wrapper">

	<div id="header">
		<div id="menu">
			<ul>
				<li><a href="http://henryx.info/" title="Homepage of henryx.info">henryx.info</a></li>
     <li class="current_page_item"><a href="{{ site.url }}/" title="Henryk on GitHub">Henryk on GitHub</a></li>
			</ul>
		</div>
		<!-- end #menu -->
		<div id="search">
		</div>
		<!-- end #search -->
	</div>
	<!-- end #header -->
	<div id="logo">
		<h1><a href="{{ site.url }}/">Henryk on GitHub</a></h1>
		<p><em>{{ page.title }}</em></p>
	</div>
	<hr />
	<!-- end #logo -->
<!-- end #header-wrapper -->
<div id="page">
	<div id="content">
  {{ content }}
  </div>
	<!-- end #content -->

	<div id="sidebar">
		<ul>
			<li>
				<h2>henryx.info</h2>
				<ul>
                                    <li><a href="http://henryx.info">Main site</a></li>
				</ul>
			</li>

			<li>
				<h2>Contact</h2>
				<ul>
      <li>Henryk Paluch<br/><img src="{{ site.url }}/img/contact.gif" alt="Contact"/></li>
				</ul>
			</li>


		</ul>
	</div>
	<!-- end #sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end #page -->

<div id="footer">
  <p>
  Copyright (C) {{ site.time | date: "%Y" }} Henryk Paluch ::
 All rights reserved :: Design based on &bdquo;reckoning&ldquo; template by <a href="http://www.freecsstemplates.org/" target="design">Free CSS Templates</a>
 :: favicon.ico comes from <a href="http://www.freefavicon.com">Freefavicon.com</a>
</p>
</div>
<!-- end #footer -->
</div>
</body>
</html>
